<form [formGroup]="leasingContractForm" (ngSubmit)="createLeasingContract()">
    <div class="form-group">
        <label for="contractNumber">ContractNumber</label>
        <input
                id="contractNumber"
                type="text"
                class="form-control"
                formControlName="contractNumber"
        />
    </div>

    <div class="form-group">
        <label for="monthlyRate">Monthly Rate</label>
        <input
                type="text"
                class="form-control"
                id="monthlyRate"
                name="monthlyRate"
                formControlName="monthlyRate"
        />
    </div>

    <div class="form-group">
        <label for="customer">Customer</label>
        <input
                type="text"
                class="form-control"
                id="customer"
                name="customer"
                formControlName="customer"
        />
    </div>
    <div class="form-group">

        <label for="country">Customer Choose </label>
        <select id="country" name="country" formControlName="country">
            <option value="1">India</option>
            <option value="2">USA</option>
            <option value="3">England</option>
            <option value="4">Singapore</option>
        </select>
    </div>

    <div class="form-group">
        <label for="vehicle">Vehicle</label>
        <input
                class="form-control"
                id="vehicle"
                required
                [(ngModel)]="leasingContract.monthlyRate"
                name="vehicle"
        />
    </div>

    <div class="form-group">

        <label for="country">Vehicle Choose </label>
        <select id="vehicleChoose" name="country" formControlName="country">
            <option value="1">India</option>
            <option value="2">USA</option>
            <option value="3">England</option>
            <option value="4">Singapore</option>
        </select>
    </div>

    <button class="btn btn-danger" (click)="cancel()">
        Cancel
    </button>

    <button
            type="submit" class="btn btn-success">
        Create
    </button>
</form>
<p>{{ message }}</p>



