<div  class="edit-form">
    <h4>Leasing Contract</h4>
    <form>
        <div class="form-group">
            <label for="contractNumber">ContractNo</label>
            <input
                    type="text"
                    class="form-control"
                    id="contractNumber"
                    [(ngModel)]="leasingContract.contractNumber"
                    name="contractNumber"
            />
        </div>
        <div class="form-group">
            <label for="monthlyRate">Monthly Rate</label>
            <input
                    type="text"
                    class="form-control"
                    id="monthlyRate"
                    [(ngModel)]="leasingContract.monthlyRate"
                    name="monthlyRate"
            />
        </div>

        <div class="form-group" *ngIf="leasingContract.customer && leasingContract.customer.firstName">
            <label for="firstName">Customer First Name</label>
            <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    [(ngModel)]="leasingContract.customer.firstName"
                    name="firstName"
            />
        </div>

        <div class="form-group" *ngIf="leasingContract.customer && leasingContract.customer.lastName">
            <label for="lastName">Customer LastName</label>
            <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    [(ngModel)]="leasingContract.customer.lastName"
                    name="lastName"
            />
        </div>

        <br>
        <div class="form-group">
            <label for="vehicle">Vehicle</label>
            <select id="vehicle" name="country" (change)="selectVehicle($event.target)">
                <option *ngFor="let vehicle of vehicles" [value]="vehicle.model" [selected]="vehicle.model == leasingContract.vehicle?.model">{{vehicle.model}} {{vehicle.brand}}, ({{vehicle.year}})</option>
            </select>
        </div>
        <br>

    </form>


    <button class="" (click)="cancel()">
        Cancel
    </button>

    <button
            type="submit"
            class=""
            (click)="saveLeasingContract()">
        Update
    </button>
        <p>{{ message }}</p>
</div>
