<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"></a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="leasingContracts" class="nav-link">Leasing Contracts</a>
      </li>
      <li class="nav-item">
        <a routerLink="create/leasingcontract" class="nav-link">Create Leasing Contract</a>
      </li>
      <li class="nav-item">
        <a routerLink="create/customer" class="nav-link">Create Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="create/vehicle" class="nav-link">Create Vehicle</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
