
<br>
<div class="form-group">
    <label for="brand1">Brands</label>
    <select id="brand1" name="brand1" (change)="selectBrand($event.target)">
        <option [selected]="brand.name == vehicle.brand" *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
    </select>
</div>

<div class="form-group">
    <label for="model1">Model</label>
    <select id="model1" name="model1" (change)="selectModel($event.target)">
        <option *ngFor="let model of models" [value]="model.name" [selected]="model.name == vehicle.model">{{model.name}}</option>
    </select>
</div>
<br>
<div class="form-group" *ngIf="vehicle && vehicle.year">
    <label for="year">YEAR</label>
    <input
            type="text"
            class="form-control"
            id="year"
            [(ngModel)]="vehicle.year"
            name="year"
    />
</div>

<div class="form-group" *ngIf="vehicle && vehicle.vin">
    <label for="vin">VIN</label>
    <input
            type="text"
            class="form-control"
            id="vin"
            [(ngModel)]="vehicle.vin"
            name="vin"
    />
</div>

<div class="form-group" *ngIf="vehicle && vehicle.price">
    <label for="price">Price</label>
    <input
            type="text"
            class="form-control"
            id="price"
            [(ngModel)]="vehicle.price"
            name="price"
    />
</div>

<button class="btn btn-danger" (click)="cancel()">
    Cancel
</button>

<button
        type="submit"
        class="btn btn-success"
        (click)="saveVehicle()">
    Update
</button>

<p>{{ message }}</p>
