<form [formGroup]="createVehicleform" (ngSubmit)="createVehicle()">
    <!--  <div class="form-group">-->
    <!--    <label for="brand">Brand</label>-->
    <!--    <input-->
    <!--      id="brand"-->
    <!--      type="text"-->
    <!--      class="form-control"-->
    <!--      formControlName="brand"-->
    <!--    />-->
    <!--  </div>-->

    <!--  <div class="form-group">-->
    <!--    <label for="model">Model</label>-->
    <!--    <input-->
    <!--      type="text"-->
    <!--      class="form-control"-->
    <!--      id="model"-->
    <!--      name="model"-->
    <!--      formControlName="model"-->
    <!--    />-->
    <!--  </div>-->

    <br>
    <div class="form-group">
        <label for="brand">Brands</label>
        <select id="brand" name="brand" (change)="selectBrand($event.target)" formControlName="brand">
            <option value="" selected disabled hidden>Select One</option>
            <option >Select One</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}})</option>
        </select>
    </div>

    <div class="form-group">
        <label for="model">Model</label>
        <select id="model" name="model" formControlName="model">
            <option *ngIf="models.length > 2" value="" selected disabled hidden>Select One</option>
            <option >Select One</option>
            <option *ngFor="let model of models" [value]="model.id">{{model.name}})</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="year">Year</label>
        <input
                type="text"
                class="form-control"
                id="year"
                name="year"
                formControlName="year"
        />
    </div>

    <div class="form-group">
        <label for="vin">VIN</label>
        <input
                type="text"
                class="form-control"
                id="vin"
                name="vin"
                formControlName="vin"
        />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input
                type="text"
                class="form-control"
                id="price"
                name="price"
                formControlName="price"
        />
    </div>

    <button class="btn btn-danger" (click)="cancel()">
        Cancel
    </button>

    <button
            type="submit" class="btn btn-success" [disabled]="!createVehicleform.valid">
        Create
    </button>
</form>
<p>{{ message }}</p>



<!--<br>-->
<!--<div class="form-group">-->
<!--  <label for="brand">Brands</label>-->
<!--  <select id="brand" name="brand" (change)="selectBrand($event.target)">-->
<!--    <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}})</option>-->
<!--  </select>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  <label for="model">Model</label>-->
<!--  <select id="model" name="model1">-->
<!--    <option *ngFor="let model of models" [value]="model.id">{{model.name}})</option>-->
<!--  </select>-->
<!--</div>-->
<!--<br>-->
